div#app {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: fit-content(4rem) auto;
    height: 100vh;
}

div#app > main {
    grid-area: main;
    padding: var(--spacing-1);
    overflow-y: auto;
}

div#app > header {
    grid-area: header;
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    padding: var(--spacing-1) var(--spacing-2);
    border-bottom: var(--border);
}